<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Pokémon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col sizeSm="4">
        <img
          *ngFor="let pokemon of this.pokeList"
          [src]="pokemon.defaultSprite"
      /></ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-list>
    <ion-item *ngFor="let pokemon of this.pokeList">
      {{pokemon.name}}
    </ion-item>
  </ion-list> -->

  <!-- <ion-grid>
    <ion-row *ngFor="let pokemon of this.pokeList">
      <ion-col>
        <ion-card class="ion-text-center ion-padding">
          <ion-img [src]="pokemon.defaultSprite"></ion-img>
          <ion-card-title>{{pokemon.name}}</ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
