<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Pokémon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col sizeSm="4">
        <img
        *ngFor="let pokemon of this.pokeList; let pokeIndex = index"
        [routerLink]="['./', pokeIndex]"
          [src]="pokemon.defaultSprite"
      /></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
