<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pokedex/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>{{this.pokemon.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img [src]="this.pokemon.defaultSprite"></ion-img>
  <!-- <ion-img [src]="this.pokemon.shinySprite"></ion-img> -->
  <p class="ion-text-center">{{this.pokemon.description}}</p>
  <ion-button [disabled]="pokemonAdded" class="favButton ion-padding" color="warning" (click)="catch()">Catch this Pokémon!</ion-button>
</ion-content>
