<ion-card>
  <ion-card-header>
    <ion-card-title>Sign In</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label position="floating">Agency Name</ion-label>
      <ion-input [(ngModel)]="agencyName" name="agencyName" (ngModelChange)="onAgencyNameChange()" required></ion-input>
    </ion-item>


    <div *ngIf="isAgencySubmitted && environments.length > 0">
      <ion-item>
        <ion-label>Environment</ion-label>
        <ion-select [(ngModel)]="selectedEnvironment" name="environment" required>
          <ion-select-option *ngFor="let env of environments" [value]="env">{{ env }}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <ion-text color="danger" *ngIf="isAgencySubmitted && environments.length === 0">
      <p>No environments found for the Agency Name.</p>
    </ion-text>

    <ion-item *ngIf="isAgencySubmitted">
      <ion-label position="floating">Username</ion-label>
      <ion-input [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>

    <ion-item *ngIf="isAgencySubmitted">
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="onSubmit()">Submit</ion-button>

    <ion-text color="danger" *ngIf="errorMessage">
      <p>{{ errorMessage }}</p>
    </ion-text>


  </ion-card-content>
</ion-card>
