<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>The Construct API</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding" #content>
  <ion-card
    *ngFor="let record of accelaService.recordsArray"
    [routerLink]="['./', record.value ]"
  >
    <ion-card-header>
      <ion-card-title>{{ record.name }}</ion-card-title>
      <ion-card-subtitle>{{ record.value }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Assigned User: {{ record.assignedUser }}
    </ion-card-content>
  </ion-card>
</ion-content>
