<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>The Construct API 🙂</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Show the sign-in form if records are not yet fetched -->
  <app-sign-in-form *ngIf="!showRecordsList" (recordsFetched)="onRecordsFetched()"></app-sign-in-form>

  <!-- Show the records list if records are fetched -->
  <app-records-list *ngIf="showRecordsList"></app-records-list>
</ion-content>
