.img-hor {
  transform: rotateY(180deg); // Rotate 180 degrees along the y-axis
}
// ion-segment-button {
//   // --background-checked: var(--ion-color-success);
//   // --color-checked: var(--ion-color-success-contrast);
// }

ion-segment {
  background-color: gray;
}

ion-content {
  --overflow: hidden;
}

.fixed-button {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 30px;
  width: 90%; /* Optional: if you want the button to be full width */
  margin: auto;
}
