<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Find new Pokémon!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding" #content>
  <ion-segment (ionChange)="methodToggle($event)" value="random">
    <ion-segment-button value="random">
      <ion-label>Random</ion-label>
    </ion-segment-button>
    <ion-segment-button value="search">
      <ion-label>Search</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="method === 'random'" class="ion-padding">
    <ion-button (click)="newPokemon()" color="primary"
      >Generate a random pokemon :)</ion-button
    >
    <ion-card *ngIf="randomPokemon.name" [routerLink]="['./', 'detail']">
      <ion-card-header>
        <ion-card-title>{{this.randomPokemon.name}}</ion-card-title>
        <ion-grid>
          <ion-row>
            <ion-col
              [sizeSm]="!this.randomPokemon.shinySprite ? 12 : 6"
              sizeLg="3"
              offsetLg="3"
            >
              <ion-img [src]="this.randomPokemon.defaultSprite"></ion-img>
            </ion-col>
            <ion-col *ngIf="this.randomPokemon.shinySprite" size="6" sizeLg="3">
              <ion-img
                class="img-hor"
                [src]="this.randomPokemon.shinySprite"
              ></ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row
            class="ion-text-center"
            *ngFor="let type of this.randomPokemon.types"
          >
            <ion-col>
              {{type.charAt(0).toUpperCase() + type.slice(1)}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="method === 'search'" class="ion-padding">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-list style="border-radius: 12px">
              <ion-item>
                <ion-label position="floating">Name</ion-label>
                <ion-input
                  ngModel
                  type="text"
                  name="name"
                  [(ngModel)]="inputValue"
                ></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-button type="submit" color="medium"> Search </ion-button>
        </ion-row>
        <ion-row class="ion-text-center">
          <ion-col>
            <ion-card
              *ngIf="searchedPokemon.name"
              [routerLink]="['./', 'detail']"
            >
              <ion-card-header>
                <ion-card-title>{{this.searchedPokemon.name}}</ion-card-title>
                <ion-grid>
                  <ion-row>
                    <ion-col
                      [sizeSm]="!this.searchedPokemon.shinySprite ? 12 : 6"
                      sizeLg="3"
                      offsetLg="3"
                    >
                      <ion-img
                        [src]="this.searchedPokemon.defaultSprite"
                      ></ion-img>
                    </ion-col>
                    <ion-col
                      *ngIf="this.searchedPokemon.shinySprite"
                      size="6"
                      sizeLg="3"
                    >
                      <ion-img
                        class="img-hor"
                        [src]="this.searchedPokemon.shinySprite"
                      ></ion-img>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row
                    class="ion-text-center"
                    *ngFor="let type of this.searchedPokemon.types"
                  >
                    <ion-col
                      >{{type.charAt(0).toUpperCase() + type.slice(1)}}</ion-col
                    >
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
