.img-hor {
  transform: rotateY(180deg);
}

ion-segment {
  background-color: gray;
}

@media (min-width: 768px) {
  ion-card {
    max-width: 600px;       
    margin: 0 auto;         
    padding-bottom: 16px;
  }

  ion-card ion-img {
    max-height: 180px;        
    object-fit: contain;
  }

  ion-card-title {
    font-size: 1.4rem;      
  }
}

/* Larger desktop (1280px and up) */
@media (min-width: 1280px) {
  ion-card {
    max-width: 500px;         
  }

  ion-card ion-img {
    max-height: 150px;
  }
}
