<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Draw a number!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>Predicted Number:</ion-card-subtitle>
      <ion-card-title>{{predicted}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <div class="ion-text-center">
    <canvas
      class="canvas"
      #canvas
      (touchstart)="onTouchStart($event)"
      (touchmove)="onTouchMove($event)"
    ></canvas>
  </div>
  <div style="width: 50%">
    <ion-button class="block" (click)="clear()">Clear</ion-button>
  </div>
</ion-content>
