.canvas {
  border: 1px solid #dd6d38;
  background-color: white;
}

.prediction-value {
  min-height: 2.5rem;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.instructions p {
  margin: 0;
  text-align: center;
  font-size: 0.85rem;
  line-height: 1.3;
}

.canvas-container {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 8px 16px 8px 16px;
}

ion-content {
  --overflow: hidden;
}

