<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-menu-button></ion-menu-button> -->
      <ion-back-button defaultHref="/accela"></ion-back-button>
    </ion-buttons>
    <ion-title>{{record.value}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-item *ngIf="record.name">
        <ion-label>Name:</ion-label>
        <ion-text>{{ record.name }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Value:</ion-label>
        <ion-text>{{ record.value }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Assigned User:</ion-label>
        <ion-text>{{ record.assignedUser }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Record Type:</ion-label>
        <ion-text>{{ record.type }}</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Inspections</ion-label>
        <ion-spinner *ngIf="inspectionsLoading"></ion-spinner>
      </ion-item>
      <div class="ion-padding" slot="content">Inspection data</div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
