<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-menu-button></ion-menu-button> -->
      <ion-back-button defaultHref="/accela"></ion-back-button>
    </ion-buttons>
    <ion-title>{{record.value}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-item *ngIf="record.name">
        <ion-label>Name:</ion-label>
        <ion-text>{{ record.name }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Value:</ion-label>
        <ion-text>{{ record.value }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Assigned User:</ion-label>
        <ion-text>{{ record.assignedUser }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Record Type:</ion-label>
        <ion-text>{{ record.type }}</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Inspection Accordion -->
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Inspections</ion-label>
        <ion-spinner *ngIf="inspectionsLoading"></ion-spinner>
        <span *ngIf="!inspectionsLoading"
          >{{this.inspectionsArray.length}}</span
        >
      </ion-item>
      <!-- Display inspections from inspectionsArray -->
      <div class="ion-padding" slot="content">
        <ion-list *ngIf="!inspectionsLoading">
          <ion-item *ngFor="let inspection of inspectionsArray">
            <ion-label>{{ inspection.id }}</ion-label>
            <!-- <ion-label>{{ inspection.status }}</ion-label> -->
            <ion-label>{{ inspection.type }}</ion-label>
          </ion-item>
        </ion-list>
        <!-- Show a message if no inspections are found -->
        <div *ngIf="!inspectionsLoading && inspectionsArray.length === 0">
          No inspections found.
        </div>
      </div>
    </ion-accordion>

    <!-- Documents Accordion -->
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Documents</ion-label>
        <ion-spinner *ngIf="documentsLoading"></ion-spinner>
        <span *ngIf="!documentsLoading">{{this.documentsArray.length}}</span>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list>
          <ion-item *ngFor="let document of documentsArray">
            <ion-label>{{document.id}}</ion-label>
            <ion-label>{{document.fileName}}</ion-label>
          </ion-item>
        </ion-list>
        <div *ngIf="!documentsLoading && documentsArray.length === 0">No documents found.</div>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
