<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Find new Pokémon!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">
  <ion-button (click)="newPokemon()">Generate a random pokemon :)</ion-button>
  <ion-card *ngIf="pokemon.name" [routerLink]="['./', 'detail']">
    <ion-card-header>
      <ion-card-title>{{this.pokemon.name}}</ion-card-title>
      <ion-grid>
        <ion-row>
          <ion-col [sizeSm]="!this.pokemon.shinySprite ? 12 : 6" sizeLg="3" offsetLg="3">
            <ion-img [src]="this.pokemon.defaultSprite"></ion-img>
          </ion-col>
          <ion-col *ngIf="this.pokemon.shinySprite" size="6" sizeLg="3" >
            <ion-img class="img-hor" [src]="this.pokemon.shinySprite"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>
</ion-content>
