<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Find new Pokémon!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">
  <ion-button (click)="newPokemon()">Find something else</ion-button>
  <ion-card *ngIf="pokeData">
    <ion-card-header>
      <ion-card-title>{{this.name}}</ion-card-title>
      <ion-img [src]="pokeData?.sprites?.front_default"></ion-img>
    </ion-card-header>
  </ion-card>
</ion-content>
