<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/accela"></ion-back-button>
    </ion-buttons>
    <ion-title>{{this.inspectionData.id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Type:</ion-label>
        <ion-text>{{inspectionData.type}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Status:</ion-label>
        <ion-text>{{inspectionData.status}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Inspector:</ion-label>
        <ion-text *ngIf="inspectionData.inspectorFullName">{{inspectionData.inspectorFullName}}</ion-text>
        <ion-text *ngIf="!inspectionData.inspectorFullName">Unassigned</ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Address:</ion-label>
      </ion-item>
      <ion-item *ngIf="inspectionData.address">
        {{inspectionData.address.streetAddress}}, {{inspectionData.address.city}}, {{inspectionData.address.state.value}} {{inspectionData.address.postalCode}}
      </ion-item>

      <ion-item>
        <ion-label>Result Type:</ion-label>
        <ion-text>{{inspectionData.resultType}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Result Comment:</ion-label>
        <ion-text>{{inspectionData.resultComment}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Total Time:</ion-label>
        <ion-text>{{inspectionData.totalTime}}</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
