<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pokedex/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>{{this.pokemon.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center" #content>
  <!-- <ion-button class="favButton ion-padding" color="warning" (click)="release()">Set Me Free :)</ion-button> -->
  <ion-grid>
    <ion-row>
      <ion-col><ion-img [src]="this.pokemon.defaultSprite"></ion-img></ion-col>
      <ion-col *ngIf="this.pokemon.shinySprite"><ion-img [src]="this.pokemon.shinySprite"></ion-img></ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-img [src]="this.pokemon.shinySprite"></ion-img> -->

  <ion-card>
    <ion-card-content>
      <span class="ion-text-center" *ngFor="let type of this.pokemon.types">
        {{type.charAt(0).toUpperCase() + type.slice(1)}}
      </span>
      <br><br>
      <p class="ion-text-center">{{this.pokemon.description}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
