<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pokedex/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>{{this.pokemon.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-button class="favButton ion-padding" color="warning" (click)="release()">Set Me Free :)</ion-button>
  <ion-img [src]="this.pokemon.defaultSprite"></ion-img>
  <!-- <ion-img [src]="this.pokemon.shinySprite"></ion-img> -->
  <ion-grid>
    <ion-row
      class="ion-text-center"
      *ngFor="let type of this.pokemon.types"
    >
      <ion-col>{{type.charAt(0).toUpperCase() + type.slice(1)}}</ion-col>
    </ion-row>
  </ion-grid>
  <p class="ion-text-center">{{this.pokemon.description}}</p>

</ion-content>
