<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pokedex/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>{{this.pokemon.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center" #content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6" size-md="4">
        <ion-img [src]="this.pokemon.defaultSprite"></ion-img>
      </ion-col>
      <ion-col size="6" size-md="4" *ngIf="this.pokemon.shinySprite">
        <ion-img class="img-hor" [src]="this.pokemon.shinySprite"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-content>
      <span class="ion-text-center" *ngFor="let type of this.pokemon.types">
        {{ type.charAt(0).toUpperCase() + type.slice(1) }}
      </span>
      <br /><br />
      <p class="ion-text-center">{{ this.pokemon.description }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
